.link-container a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.header-extra-style{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.signup-extra-style{
    border: 1px solid rgb(122, 7, 7);
    padding: 5px 18px;
    border: none;
}

